/Resoluciones/build/
Resoluciones/nbproject/private/private.xml
Resoluciones/nbproject/private/private.properties
Resoluciones/nbproject/private/private.properties
Resoluciones/nbproject/private/private.properties
Resoluciones/nbproject/project.properties
Resoluciones/nbproject/project.properties
Resoluciones/nbproject/private/private.properties